* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container {
    width: 1146px;
    margin: 0 auto;
}
.email_block {
    width: 360px;
    background-color: #ffffff;
    padding: 50px 30px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    box-shadow: 25px 25px 30px rgba(0,0,0,0.15);
    color: #111111;
}
body {
    background-color: #f9ff56;
}
label {
    display: inline-block;
    font-weight: 500;
    margin-bottom: 10px;
    font-size: 22px;
}
input {
    border: 2px solid #d1d3d4;
    width: 295px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    letter-spacing: 1px;
    font-weight: 400;
    padding-left: 10px;
}
button {
    border: 2px solid #d1d3d4;
    width: 295px;
    height: 50px;
    border-radius: 5px;
    outline: none;
    font-weight: 400;
    padding-left: 10px;
    margin-top: 15px;
}


.block_square {
    position: relative;
    width: 1000px;
    height: 200px;
    background-color: red;
    top: 600px;
}
.block_square_2 {
    position: absolute;
    width: 100px;
    height: 100px;
    background-color: blue;
}